@import 'Variables';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $backgroud;
  min-height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  color: inherit !important;
  text-decoration: none !important;
  :hover {
    color: inherit;
  }
}

#root {
  min-height: 100%;
}

.form-inline {
  input {
    width: 100% !important;
  }
}

.sketch-picker {
  float: right;
  min-height: 300px;
  margin-bottom: 40px;
}

.color-input {
  float: left;
}

.grid-coord {
  max-width: 150px;
  float: left;
  padding-right: 20px;
}

.container {
  padding: $hpadding 0px;
}

.chart {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.chart-editor {
  margin-top: $hpadding;
  margin-bottom: $hpadding;
  .grid-coord {
    max-width: 250px;
    float: unset;
  }
  .start-from {
    max-width: 320px;
  }
  .apply-button {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .apply-subtitle {
    margin-top: 20px;
  }
}

.footer-container {
  padding-top: 250px;
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $footer-color;
    padding-top: 80px;
    padding-bottom: 80px;
    background: $footer-background;
    text-align: center;
    span {
      display: inline-block;
      font-size: 17px;
    }
    .footer-gif {
      display: block;
      padding-top: 10px;
      width: 204px;
      margin: 0 auto;
    }
  }
}

.save-chart {
  position: relative;
  float: right;
  margin-right: 10px;
  .btn {
    padding: 5px 10px;
    background-color: $green;
    border: 0;
    color: white;
  }
}

.chartjs-render-monitor {
  background-color: #ffffff00;
}

.nav-pills {
  .nav-link.active {
    background: $active;
    color: $font;
  }
  .nav-link {
    color: $font;
  }
}

.loader {
  padding-left: 50%;
  margin-left: -28px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.input-group-lg {
  margin-top: 0px !important;
  padding-top: $vpadding;
}

.sheets-container {
  width: 80%;
  margin: 0 auto;
  margin-top: $vpadding;
  margin-bottom: $vpadding;
  @include lg {
    width: $maxw;
  }
}

.card-body {
  button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .grid-coord {
    margin-bottom: 20px;
  }
  padding-bottom: 0px;
}

.sheet-picker {
  overflow: auto;
  .btn-group {
    width: 100%;
  }
}

.shadow {
  box-shadow: 0 2px 8px 0 $shadow;
  border-radius: 5px;
}

.in-container {
  padding: $vpadding $hpadding;
}

.chart-header {
  margin-left: 28px;
  margin-top: $vpadding;
  margin-right: $hpadding;
  font-size: 25px;
  line-height: 22px;
}

.chart-info {
  font-size: 15px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.standard-charts {
  padding-bottom: $vpadding;
}

.horizontal-separator {
  border-left: 1px solid $seperator;
  margin-left: 10px;
  padding-left: 10px;
}

.navbar {
  .menu-item {
    margin-left: 20px;
    padding: 15px 10px;
    cursor: pointer;
  }
  .nav-item {
    cursor: pointer;
  }
  .logo {
    font-weight: bold;
  }
}
