@import 'Variables';

body {
  margin: 0;
  padding: 0;
  background-color: $backgroud;
  font-family: Helvetica, Times, Georgia, 'Times New Roman', serif;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-inline {
  input {
    width: 100% !important;
  }
}

.grid-coord {
  max-width: 150px;
  float: left;
  padding-right: 20px;
}

.container {
  padding: $hpadding 0px;
}

.chart {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.chart-editor {
  margin: 0 auto;
  margin-top: $hpadding;
  margin-bottom: $hpadding;
}

.nav-pills {
  .nav-link.active {
    background: $active;
    color: $font;
  }
  .nav-link {
    color: $font;
  }
}

.loader {
  margin-left: 50%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.sheets-container {
  width: 80%;
  margin: 0 auto;
  margin-top: $vpadding;
  margin-bottom: $vpadding;
  .btn-group {
    width: 100%;
  }
  @include lg {
    width: $maxw;
  }
}

.shadow {
  box-shadow: 0 2px 8px 0 $shadow;
  border-radius: 5px;
}

.in-container {
  padding: $vpadding $hpadding;
}

.chart-header {
  margin-left: 28px;
  margin-top: $vpadding;
  margin-right: $hpadding;
  font-size: 25px;
  line-height: 22px;
}

.chart-info {
  font-size: 15px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.standard-charts {
  padding-bottom: $vpadding;
}

.horizontal-separator {
  border-left: 1px solid $seperator;
  margin-left: 10px;
  padding-left: 10px;
}

.navbar {
  .menu-item {
    margin-left: 20px;
    padding: 15px 10px;
    cursor: pointer;
  }
  .nav-item {
    cursor: pointer;
  }
  .logo {
    font-weight: bold;
  }
}
